.userPageContainer{
    margin-top: -35px;
}
.userNameTopic{
    padding-top: 40px;
    font-size: 2.4rem;
}
.logoutButton{
    font-size: 1.3rem;
    padding: 6px;
    width: 150px;
    border: none;
    border-radius: 15px;
    margin-left: 58rem;
}
.userPageContentContainer{
    background-color:rgba(0, 0, 0, 0.5);
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border-radius: 15px;
}
.getUserInputsContainer{
    border: 2px solid white;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 40px;
    padding: 30px;
}
.getUserInputsContainer input{
    width: 100%;
    height: 30px;
    border: none;
    font-size: 1.2rem;
    border-radius: 10px;
}
.getUserInputsContainer textarea{
    width: 100%;
    border: none;
    font-size: 1.2rem;
    border-radius: 10px;
    margin-top: 10px;
}
.userInput1 ::placeholder{
    margin-left: 20px;
}
.buttonSend, .buttonUpload{
    font-size: 1.3rem;
    padding: 6px;
    width: 150px;
    border: none;
    border-radius: 15px;
    margin-top: 20px;
}
